<div class="row justify-content-around m-2">
    <a href="@Url.Action("CreateType", "Storage" )" class="col-md-3 col-5 btn btn-main my-1">Storages</a>
    <a href="@Url.Action("Index", "Category" )" class="col-md-3 col-5 btn btn-main my-1">Categories</a>
    <a href="@Url.Action("Index", "Product")" class="col-md-3 col-5 btn btn-main my-1">Products</a>
</div>
