@{
    var list = new[] { "Day", "Month", "Year" };
}
<div class="modal fade" id="DateModal" tabindex="-1" role="dialog" aria-labelledby="DateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content big-border">
            <div class="modal-header text-center d-block h5" id="DateModalLabel"></div>
            <div class="modal-body pt-0">
                @using (Html.BeginForm("DateUpdate", "Product", FormMethod.Post))
                {
                    <div class="row justify-content-around">
                        @foreach (var i in list)
                        {
                            <div class="col-lg-4">
                                <div class="row my-1">
                                    <div class="text-lg-center col-4 col-lg-12">@i</div>
                                    <div class="d-lg-none fa fa-minus-circle" onclick="inputChange('@i',-1)"></div>
                                    <input class = "text-center col-6 col-lg-12" type = "number" id = "@i" name="@i"/>
                                    <div class="d-lg-none fa fa-plus-circle" onclick="inputChange('@i', 1)"></div>
                                </div>
                            </div>
                        }
                    </div>
                }
                <hr />
                <div class="row justify-content-around">
                    <button type="button" class="btn btn-main col-3" data-dismiss="modal" onclick="DateUpdate();">Save</button>
                    <button type="button" class="btn btn-main col-3" onclick="setTodayDate();">Reset</button>
                    <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>