<ul class="navbar-nav flex-fill w-100 flex-nowrap justify-content-end">
	@if (Request.IsAuthenticated)
	{
		using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-none" }))
		{
			@Html.AntiForgeryToken()
		}
		<li class="nav-item">
			<a class="nav-link text-light" 
			   href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			@Html.ActionLink("Sign up", "Register", "Account", routeValues: null,
				htmlAttributes: new { id = "registerLink", @class = "nav-link text-light" })
		</li>
		<li class="nav-item">
			@Html.ActionLink("Sign in", "Login", "Account", routeValues: null,
				htmlAttributes: new { id = "loginLink", @class = "nav-link text-light" })
		</li>
	}
</ul>