@{
    var list = new[] { "Day", "Month", "Year" };
}
<div class="modal fade" id="DateModal" tabindex="-1" role="dialog" aria-labelledby="DateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content big-border">
            <div class="modal-header text-center d-block h5" id="DateModalLabel"></div>
            <div class="modal-body">
                @using (Html.BeginForm("DateUpdate", "Storage", FormMethod.Post))
                {
                    <div class="row justify-content-around">
                        @foreach (var i in list)
                        {
                            <div class="col-lg-4">
                                <div class="row my-1 justify-content-between">
                                    <div class="text-lg-center col-4 col-lg-12">@i</div>
                                    <div class="d-lg-none px-1" onclick="DatetimePickerJs.inputChange('@i',1)">
                                        <img class="rowicon" src="~/Content/images/add.png" />
                                    </div>
                                    <input class="text-center col-5 col-lg-12" type="number" id="@i" name="@i" />
                                    <div class="d-lg-none px-1" onclick="DatetimePickerJs.inputChange('@i', -1)">
                                        <img class="rowicon" src="~/Content/images/minus.png" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="modal-footer row justify-content-around">
                <div class="col-4 p-1">
                    <button type="button" class="btn btn-success w-100" data-dismiss="modal" id="btnDateSave">Save</button>
                </div>
                <div class="col-4 p-1">
                    <button type="button" class="btn btn-info w-100" id="btnDateReset">Today</button>
                </div>
                <div class="col-4 p-1">
                    <button type="button" class="btn btn-secondary w-100" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>