@model SmartKitchen.Domain.DisplayModels.HelpModel
@{
    ViewBag.Title = "Quick guide";
}
<div class="h4">Quick guide</div>
<div class="text-justify">
    After <a href="@Url.Action("Index","Account",new{Login = false})">registration</a>
    you can create your storages @Html.ActionLink("here", "Create", "Storage") using <b>@Model.StorageTypesCount</b> different templates.
    Each storage allows you to manage a big amount of different products.
    Each product has specific amount and expiration date which you can set manually.
    The system will inform you if any product <span class="text-danger font-weight-bold">become unsafe</span> or <span class="text-warning font-weight-bold">will become soon</span>.
    <br />
    On @Html.ActionLink("this", "Token", "Account") page you can receive personal token to connect smart devices to your account. 
    This will allow system to collect data about amount changes automatically. External device should send HTTP or HTTPS request on the server using one of these templates: 
    <ul>
        <li>
            <div class="font-weight-bold">Adding product to storage</div>
            <code>https://@Request.Url.Authority/Cell/Create/?token=[Token]&storage=[Storage]&name=[Name]</code><br />
            For example
            <code>https://@Request.Url.Authority/Cell/Create/?token=abcdefgh-abcd-abcd-abcd-abcdefghijkl&storage=1&name=Bread</code>
        </li>
        <li>
            <div class="font-weight-bold">Update product amount</div>
            <code>https://@Request.Url.Authority/Cell/SetAmount/?token=[Token]&cell=[Cell Id]&amount=[Amount]</code><br />
            For example
            <code>https://@Request.Url.Authority/Cell/SetAmount/?token=abcdefgh-abcd-abcd-abcd-abcdefghijkl&cell=1&amount=500</code>
        </li>
        <li>
            <div class="font-weight-bold">Update product expiration date</div>
            <code>https://@Request.Url.Authority/Cell/Create/?token=[Token]&cell=[Cell Id]&dateStr=[Day]/[Month]/[Year]</code><br />
            For example
            <code>https://@Request.Url.Authority/Cell/Create/?token=abcdefgh-abcd-abcd-abcd-abcdefghijkl&cell=1&name=1/1/2001</code>
        </li>
        <li>
            <div class="font-weight-bold">Remove product</div>
            <code>https://@Request.Url.Authority/Cell/Create/?token=[Token]&cell=[Cell Id]</code><br />
            For example
            <code>https://@Request.Url.Authority/Cell/Create/?token=abcdefgh-abcd-abcd-abcd-abcdefghijkl&cell=1</code>
        </li>
    </ul>
</div>