@{
    ViewBag.Title = "Home Page";
}
@* ReSharper disable UnknownCssClass *@
<div class="row justify-content-between m-0">
    <div class="h4 col p-0">Smart storages</div>
    <div class="col-5 p-0">
        @Html.ActionLink("Get started", "Index", "Storage", null, new
        {
            @class = "btn btn-main big-border float-right d-md-none"
        })
        @Html.ActionLink("Get started", "Index", "Storage", null, new
        {
            @class = "btn btn-main big-border float-right btn-lg d-none d-md-block"
        })
    </div>
</div>
<div class="row">
    <div class="col-md-8 text-justify col-12">
        Smart storages is a system which helps to manage supplies in the house. All of them can be sorted to specific storages where system will analyze its' safety and amount.
        If any product will expire or become unsafe it can bes added to basket to ease the shopping process not to forget any important purchase. <br />
    </div>
</div>
<div class="row justify-content-center text-center my-2">
    <div class="col-md-3 p-0 col-8">
        <div class="h6">Mark what you need</div>
        <img class="w-75" src="../Content/images/refrigerator0.png" />
    </div>
    <div class="col-md-1 p-0 col-12">
        <img class="img-md-middle w-75 d-none d-md-inline" src="../Content/icons/arrow-right.png" />
        <div class="d-md-none">
            <img src="../Content/icons/arrow-down.png" />
        </div>
    </div>
    <div class="col-md-3 p-0 col-8">
        <div class="h6">Go shopping</div>
        <img class="img-md-middle w-100 mx-0" src="../Content/images/basket.png" />
    </div>
    <div class="col-md-1 p-0 col-12">
        <img class="img-md-middle w-75 d-none d-md-inline" src="../Content/icons/arrow-right.png" />
        <div class="d-md-none">
            <img src="../Content/icons/arrow-down.png" />
        </div>
    </div>
    <div class="col-md-3 p-0 col-8">
        <div class="h6">Manage easily</div>
        <img class="w-75" src="../Content/images/refrigerator.png" />
    </div>
</div>
<div class="text-center">More information you can read in @Html.ActionLink("guide", "About", "Home").</div>