@{
	ViewBag.Title = "Home Page";
}
<div class="float-right">
    @Html.ActionLink("Get started", "Index", "Storage", null, new { @class = "btn btn-main" })
</div>

<div class="h4">Smart storages</div>
<div>
    Description
</div>