@model List<SmartKitchen.Domain.DisplayModels.ProductDisplayModel>
@{ var i = 0;}
@Html.Grid(Model).Build(c =>
{
    i++;
    c.Add(x => x.Name).Titled("Product").RenderedAs( x => Html.Display(
        Html.HiddenFor(y => y[i].Id, x.Id).ToHtmlString() +
        "<div id='0_"+i+"' onclick='toggle("+i+", 1)'>"+ x.Name + "</div>" +
        Html.TextBoxFor(y => y[i].Name, new { @class = "text-center", style = "display: none;", id = "1_" + i })
    ));
    c.Add(x => x.CategoryName).Titled("Category").RenderedAs(x => Html.Display(
        "<div id='2_"+i+"' onclick='toggle("+i+", 3)'>"+ x.CategoryName + "</div>"+
        Html.DropDownListFor(y => y[i].CategoryId, new List<SelectListItem>(), new { @class = "input", style = "display: none;", id = "3_" + i })
    ));
    c.Add(x => x.Usages).Titled("Usages");
}).Sortable().Pageable(x => { x.RowsPerPage = 20; }).Css("table-borderless table-hover m-0 table")