@using SmartKitchen.Domain.CreationModels
@{
    ViewBag.Title = "Products";
}
@Html.Partial("_AddNew", new NameCreationModel())
<div class="row justify-content-center m-0">
    @using (Html.BeginForm("SaveChanges", "Product", FormMethod.Post, new { id = "f", @class = "storage-new mb-2 col-lg-7 p-0" }))
    {
        @Html.AjaxGrid(Url.Action("ProductGrid"))
    }
</div>
<div class="row justify-content-center m-0">
    <button class="col-lg-3 col-5 btn btn-main m-1" type="submit" form="f">Save</button>
    <button class="col-lg-3 col-5 btn btn-info m-1" onclick="location.reload();">Reset</button>
</div>
@Scripts.Render("~/js/productIndex")
@Scripts.Render("~/MvcGrid")