@using SmartKitchen.Domain.CreationModels
@{
    ViewBag.Title = "Products";
}
@Html.Partial("_AddNew", new NameCreationModel())
<div class="row justify-content-center m-0">
    @using (Html.BeginForm("SaveChanges", "Product", FormMethod.Post, new { id = "f", @class = "storage-new mb-2 col-lg-8 p-0" }))
    {
        @Html.AjaxGrid(Url.Action("ProductGrid"))
    }
</div>
<div class="row justify-content-center m-0">
    <button class="col-lg-3 col-6 btn btn-main my-1" type="submit" form="f">Save</button>
    <button class="col-lg-3 col-6 btn btn-info my-1" onclick="location.reload();">Reset</button>
</div>
@section scripts{
    @Scripts.Render("~/bundles/MvcGrid")
    <script>
        function toggle(id, type) {
            if (type == 0) {
                $("#0_" + id).show();
                $("#1_" + id).hide();
            } else if (type == 1) {
                $("#1_" + id).show();
                $("#0_" + id).hide();
            }
            if (type == 2) {
                $("#2_" + id).show();
                $("#3_" + id).hide();
            } else if (type == 3) {
                $("#3_" + id).show();
                $("#2_" + id).hide();
            }
        }

        $(function () {
            new MvcGrid(document.querySelector('.mvc-grid')).reload();
        });
    </script>
}
