@model List<SmartKitchen.Models.StorageDescription>

<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-12 col-lg-6">
			<div class="storage row" style="background-color: #@item.Background">
				<div class="@item.Icon col-1"></div>
				<div class="col">@Html.DisplayFor(modelItem => item.Name)</div>
				<a href="@Url.Action("Delete", "Storage", new {id = item.Id})" class="col-1 text-danger fa fa-times text-decoration-none">
					<div class=""></div>
				</a>
			</div>
		</div>
	}
	<div class="col-12 col-lg-6">
		<div class="storage bg-main text-light row" onclick="window.location = '@Url.Action("Create", "Storage")';">
			<div class="fa fa-plus-circle col-1"></div>
			<div class="col">Add new storage</div>
		</div>
	</div>
</div>