@model List<SmartKitchen.Models.Storage>

<div class="row">
	@foreach (var item in Model)
	{
		<div class="storage col-12">
			<div class="material-icons icon">@item.Icon</div>
			<div>
				@Html.DisplayFor(modelItem => item.Name)
			</div>
			<div>
				@Html.ActionLink("Edit", "Edit", "Storage", new { id = item.Id })
				@Html.ActionLink("Delete", "Delete", "Storage", new { id = item.Id })
			</div>
		</div>
	}
	<div class="storage storage-new col-12 col-md-6">
		<div class="fa fa-plus-circle"></div> 
		<div class="d-inline text-center">Add new storage</div>
	</div>
</div>
