<a href="@Url.Action("CreateType", "Storage" )" class="dropdown-item">Storage types</a>
<a href="@Url.Action("Index", "Category" )" class="dropdown-item">Categories</a>
<a href="@Url.Action("Index", "Product")" class="dropdown-item">Products</a>
