<div class="modal fade" id="StatusModal" tabindex="-1" role="dialog" aria-labelledby="StatusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content big-border">
            <div class="modal-header text-center d-block h5" id="StatusModalName"></div>
            <div class="modal-footer row justify-content-center">
                <div class="col-4 p-1">
                    <button data-dismiss="modal" class="btn btn-success w-100" id="btnMark">Mark</button>
                </div>
                <div class="col-4 p-1">
                    <button data-dismiss="modal" class="btn btn-danger w-100" id="btnRemove">Remove</button>
                </div>
                <div class="col-4 p-1">
                    <button data-dismiss="modal" class="btn btn-secondary w-100">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
