$main: #46307b;
$warning: #cc7a00;
$theme-colors: ( "main": $main );
$border-radius: 1rem !default;
@import 'bootstrap/bootstrap.scss';

//forms
input, .input {
    padding: 0px 10px;
    background-color: lighten($main, 60%);
    width: 100%;
}

.big-border, input, .input, .storage, .storage-small, .storage-new {
    border: solid 2px darken($main, 20%);
    border-radius: $border-radius;
}

.btn-unactive {
    background-color: desaturate($main, 50%);
}

.btn {
    font-weight: 600;
}

.error {
    text-align: center;
    color: $danger;
}

form div {
    padding: 0px 5px;
}
//forms

.disabled:hover, .disabled {
    color: gray;
}

.storage {
    margin: 1rem;
    padding: 1rem;
}

.storage-small {
    margin: 0.2rem;
    font-size: 1.4rem;
}

.storage-new {
    background-color: lighten($main, 60%);
}

body {
    padding: 0;
}

.nav-link {
    padding: 0.2rem;
    font-size: large;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    height: 1rem;
}

//icons
.fa:before {
    display: flex;
    align-items: center;
    width: 1rem;
}

.fa {
    display: flex;
}

.nav-link div::before {
    font-size: 1.5rem;
}
//icons
//navbar
.mobile {
    display: none;
}

.gap {
    margin-bottom: 4rem;
}

@media screen and (max-width: #{map-get($grid-breakpoints, sm)}) {
    th, td {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
    .w-lg-50 {
        width: 50% !important;
    }
}
//navbar
