$main: #56409b;
$theme-colors: ( "main": $main );
$border-radius: 1rem !default;
@import 'bootstrap/bootstrap.scss';
@import url(https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css);

.fa{
	vertical-align: middle !important;
}

.icon{
	width: 2rem;
	vertical-align:middle;
	font-size: 2rem !important;
}

.mobile{
	display: none;
}

input, .input {
	padding: 0px 10px;
	background-color: lighten($main, 50%);
	width: 100%;
}

.big-border, input, .input {
	border: solid 2px darken($main, 20%);
	border-radius: $border-radius;
}

.btn-unactive {
	background-color: desaturate($main, 50%);
}

.btn{
	font-weight: 600;
}

form div{
	font-size: 1.2rem;
	padding: 0px 5px;
	margin: 0px 5px;
}

.error {
	text-align: center;
	color: $danger;
	margin-bottom: 20px;
}

.storage{
	border-radius: $border-radius;
	padding: 1rem;
	margin-top: 2rem;
	font-size: 2rem;
}
.storage-new {
	background-color: lighten($main, 40%);
}

body {
	padding: 0;
}

.nav-link{
	padding: 0.2rem;
	font-size: large;
}

@media screen and (max-width: #{map-get($grid-breakpoints, md)}) {
	.widescreen {
		display: none;
	}
	.mobile {
		display: flex;
	}
	.mobile li a div {
		font-size: 2rem !important;
	}
	.mobile li a div {
		padding: 0;
	}
	.storage{
		font-size:1.5rem;
	}
	.navbar{
		padding: 0;
	}

}
