@model SmartKitchen.Models.BasketProductCreation
<div class="row justify-content-center my-3 mx-0">
    <div class="col-12">
        @using (Html.BeginForm("CreateProduct", "Basket", FormMethod.Post, new { @class = "row justify-content-center" }))
        {
            @Html.Hidden("Basket", (int)ViewBag.Basket)
            @Html.TextBox("Name", "", new { @class = "col-5", placeholder = "New product" })
            {Html.RenderAction("GetMyStorages");}
            <input type="submit" value="Add" class="btn btn-main col-sm-2 col-3" />
            @Html.ValidationMessage("Name", "", new { @class = "col-12 error" })
        }
    </div>
</div>
