@model IGrid<SmartKitchen.Domain.DisplayModels.BasketProductDisplayModel>
<tr class="font-weight-bold">
    <td>Total</td>
    <td colspan="2"></td>
    <td >@(Model.Rows.Sum(row => row.Model.Price)) @ViewBag.Currency</td>
    <td></td>
</tr>