@model List<SmartKitchen.Domain.DisplayModels.StorageDescription>
<select id="Storage" name="Storage" class="input col-sm-5 col-4">
    @foreach (var op in Model)
    {
        <option value="@op.Id">@op.Name</option>
    }
</select>
