@model List<SmartKitchen.Models.BasketDescription>
@{
    ViewBag.Title = "My baskets";
}
@Html.Partial("_AddNew")
@if (Model.Count == 0)
{
    <h4 class="text-center">You have no baskets yet</h4>
}
else
{
    <div class="storage text-center">
        <a class="h5 text-dark" onclick="toggleTable(1);">Open baskets <img id="tog1" class="rowicon" src="~/Content/images/up.png" /></a>
        <div id="tab1">
            @foreach (var b in Model)
            {
                if (!b.Basket.Closed)
                {
                    Html.RenderPartial("_Description", b);
                }
            }
        </div>
    </div>
    <div class="storage text-center">
        <a class="h5 text-dark" onclick="toggleTable(2);">Closed baskets <img id="tog2" class="rowicon" src="~/Content/images/down.png" /></a>
        <div id="tab2">
            @foreach (var b in Model)
            {
                if (b.Basket.Closed)
                {
                    Html.RenderPartial("_Description", b);
                }
            }
        </div>
    </div>
}
@section scripts
{
    <script>
        $("#tab2").hide();
        function toggleTable(id) {
            if ($("#tab" + id).is(":hidden")) {
                $("#tab" + id).show();
                $("#tog" + id).attr("src", "../Content/images/up.png");
            } else {
                $("#tab" + id).hide();
                $("#tog" + id).attr("src", "../Content/images/down.png");
            }
        }

        function lock(id, name) {
            event.preventDefault();
            if (confirm(name+" will be locked")) { $.ajax({
                    url: '@Url.Action("Lock","Basket")/' + id,
                success: function (data) {
                    document.getElementById(id).outerHTML = "";
                    var a = document.createElement('a');
                    document.getElementById("tab2").appendChild(a);
                    a.outerHTML = data;
                }
                });
            }
        }

        function remove(id, name) {
            event.preventDefault();
            if (confirm(name+" will be removed")) {
                $.ajax({
                    url: '@Url.Action("Remove","Basket")/' + id,
                    success: function(success) {
                        if (success) document.getElementById(id).outerHTML = "";
                    }
                });
            }
        }
    </script>
}
