@model SmartKitchen.Models.BasketDescription
@{
    ViewBag.Title = "Basket " + Model.Basket.Name;
}
<div class="h4 text-center">@Model.Basket.Name</div>
@if (Request.IsAuthenticated)
{
    Html.RenderAction("CreateProduct", new {basket = Model.Basket.Id});
}
<div class="text-center table-responsive m-0 big-border">
    @if (Model.Products.Count == 0)
    {
        <div class="alert m-0 h3">This basket is empty now</div>
    }
    else
    {
        <table class="w-100 table table-hover p-0 m-0" id="table">
            <tr>
                <th style="width: 25%" onclick="order(1)">Name</th>
                <th style="width: 25%" onclick="order(2)">Safety</th>
                <th style="width: 25%" onclick="order(3)">Amount</th>
                <th style="width: 25%" onclick="order(4)">Price</th>
            </tr>
            @foreach (var i in Model.Products)
            {
                Html.RenderAction("Description",new {id=i});
            }
        </table>
    }
</div>
<button class="btn btn-success float-right m-2">Finish and close</button>