<div class="modal fade" id="PriceModal" tabindex="-1" role="dialog" aria-labelledby="PriceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content big-border">
            <div class="modal-header text-center d-block h5" id="PriceModalName"></div>
            <div class="modal-body">
                <div class="row justify-content-center m-0">
                    <div class="d-lg-none px-1" id="btnPricePlus">
                        <img class="rowicon" src="~/Content/icons/add.png" />
                    </div>
                    @Html.TextBox("PriceValue", 0, new { @class = "col-6 text-center", type = "number", min = 0, step = 0.01 })
                    <div class="d-lg-none px-1" id="btnPriceMinus">
                        <img class="rowicon" src="~/Content/icons/minus.png" />
                    </div>
                </div>
            </div>
            <div class="modal-footer row justify-content-center">
                <div class="col-4 p-1">
                    <button data-dismiss="modal" class="btn btn-success w-100" id="btnPriceSave">Save</button>
                </div>
                <div class="col-4 p-1">
                    <button data-dismiss="modal" class="btn btn-secondary w-100">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
