@model List<SmartKitchen.Domain.DisplayModel.CategoryDisplay>
@{
    ViewBag.Title = "Categories";
}
@Html.Partial("_AddNew")
<div class="row justify-content-center m-0">
    <div class="storage-new mb-2 col-lg-6 p-0">
        <table id="table" class="table table-hover table-borderless text-center m-0">
            <tr>
                <th style="width: 35%">Category</th>
                <th style="width: 45%">Products</th>
                <th style="width: 20%"></th>
            </tr>
            @foreach (var i in Model)
            {
                Html.RenderPartial("_Description", i);
            }
        </table>
    </div>
</div>

<div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="CategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content big-border">
            <div class="modal-header text-center d-block h5" id="CategoryModalLabel"></div>
            <div class="modal-body pt-0">
                <div class="row justify-content-center mx-3 text-center">
                    @foreach (var i in Model)
                    {
                        <div id="modal_@i" class="col-md-3 col-5 btn btn-main m-1" data-dismiss="modal" onclick="removeConfirm(@i);"></div>
                    }
                    <div class="col-12"></div>
                    <button data-dismiss="modal" class="btn btn-secondary col-md-4 col-6 m-1">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var categoryId;

        function remove(id) {
            categoryId = id;
            loadNames(id);
            $("#CategoryModalLabel").text("Choose the category which will replace "+$("#name_" + id).text());
        }

        function removeConfirm(id) {
            $.ajax({
                url: '@Url.Action("Remove", "Category")?fromId=' + categoryId+"&toId="+id,
                success: function () {
                    location.reload();
                }
            });
        }

        function loadNames(id) {
            @foreach (var id in Model){
                <text>
                if (id != @id) {
                    $("#modal_@id").text($("#name_@id").text());
                    $("#modal_@id").show();
                }
                else $("#modal_@id").hide();
                </text>
            }
        }
    </script>
}