<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-12">
        <div class="row justify-content-center mt-2">
            <div class="col-sm-4 col-6 text-center p-1">
                <button class="btn btn-outline-main w-100 big-border" onclick="window.location = '@Url.Action("Preferences", "Account")'">Preferences</button>
            </div>
            <div class="col-sm-4 col-6 text-center p-1">
                <button class="btn btn-outline-main w-100 big-border" onclick="window.location = '@Url.Action("Key", "Account")'">Public key</button>
            </div>
            <div class="col-sm-4 col-8 text-center p-1">
                <button class="btn btn-outline-main w-100 big-border">Change password</button>
            </div>
        </div>
    </div>
</div>
