@{
    ViewBag.Title = "Autorisation";
}

<div class="row justify-content-center mt-3">
    <div class="col-md-5 col-12">
        <div class="row">
            <div class="col"><button class="btn w-100 py-2 text-light bg-main" id="signin" onclick="activate(true);">Sign in</button></div>
            <div class="col"><button class="btn w-100 py-2 text-light btn-unactive" id="signup" onclick="activate(false);">Sign up</button></div>
        </div>
        @{
            Html.RenderAction("SignIn");
            Html.RenderAction("SignUp");
        }
    </div>
</div>
@section Scripts {
    <script>
		function activate(type) {
			if (type) {
				$('#signin').addClass("bg-main");
				$('#signup').removeClass("bg-main");
				$('#signup').addClass("btn-unactive");
				$('#signin').removeClass("btn-unactive");
				$("#formSignIn").show();
				$("#formSignUp").hide();
			} else {
				$('#signin').removeClass("bg-main");
				$('#signup').addClass("bg-main");
				$('#signup').removeClass("btn-unactive");
				$('#signin').addClass("btn-unactive");
				$("#formSignIn").hide();
				$("#formSignUp").show();
			}
		}

		$(function() {
			activate(@Model.Login.ToString().ToLower());
		});
    </script>
}