@{
    ViewBag.Title = "My key";
}
@Html.Partial("_AccountMenu")
<div class="text-center h5 py-2">This key can be used to connect your account to smart devices</div>
<div class="row justify-content-center my-2">
    <code id="publicKey" class="col-md-6 col-10 input" readonly="readonly" rows="4">@ViewBag.PublicKey</code>
</div>
<div class="row justify-content-center my-2">
    <button id="copyPublic" class="btn btn-main mx-2">
        <img class="navicon" src="~/Content/icons/copy.png" />
    </button>
    <button id="updToken" class="btn btn-main mx-2">
        <img class="navicon" src="~/Content/icons/update.png" />
    </button>
</div>

<div class="row justify-content-center my-2">
    <div class="h5 col-12 text-center">Your identificator: @ViewBag.PersonId</div>
</div>

@section scripts{
    <script>
        $(function () {
            $(document).on("click", "#updToken", function() {
                var url = '@Url.Action("UpdateKeyPair","Account")';
                $.post(url,
                    function (data) {
                        $("#publicKey").text(data);
                    });
            });
            $(document).on("click", "#copyPublic", function () {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($("#publicKey").text()).select();
                document.execCommand("copy");
                $temp.remove();
            });
        });
    </script>
}
