@model Guid
@{
    ViewBag.Title = "My token";
}
<h4 class="text-center">Your token</h4>
<div class="row justify-content-center">
    <input class="col-md-6" readonly="readonly" value="@Model"/>
    <div class="col-12"></div>
</div>
<button class="btn btn-main float-right">Generate new token</button>