@model Guid
@{
    ViewBag.Title = "My token";
}
<h5 class="text-center">This token can be used to connect your account with smart devices</h5>
<div class="row justify-content-center flex-nowrap">
    <input id="token" class="col-md-6 col-10" readonly="readonly" value="@Model" />
    <img class="rowicon" id="copy" src="~/Content/images/copy.png" />
</div>
<div class="row justify-content-center my-2">
    <button id="updToken" class="btn btn-main">Generate new token</button>
</div>
@section scripts{
    <script>
        $(function () {
            $(document).on("click", "#updToken", function() {
                var url = '@Url.Action("ResetToken","Account")';
                $.post(url,
                    function (data) {
                        document.getElementById("token").value = data;
                    });
            });
            $(document).on("click", "#copy", function () {
                document.getElementById("token").select();
                document.execCommand("copy");
            });
        });
    </script>
}